* {
    box-sizing: border-box;
}

:root {
    --azul_marinho: #0E0A30;
    --rosa_pink: #FF0099;
    --cinza_claro: #aba9c1;
    --branco: #FFFFFF;
    --gradiente: linear-gradient(150deg,#111B4C,#29008E,#650354,#A80053);
}

    /* ESTRUTURA DA PÁGINA */
body {
    text-align: center;
    background: var(--gradiente);
    height: 100vh;
}

    /* CABEÇALHO */

/* TÍTULO */
.titulo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.titulo_principal {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4em;
    color: var(--rosa_pink);
    text-transform: uppercase;
}
/* TÍTULO */

    /* CONTEÚDO PRINCIPAL */

/* CAIXA ÍCONE MUSICA */
.caixa_icone_musica {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 3.12rem;
    height: 300px;
}

/* background */
.caixa_icone_musica, .caixa_botoes {
    background-color: var(--azul_marinho);
}

.caixa_icone_musica {
    font-size: 60px;
    color: var(--rosa_pink);
}
/* CAIXA ÍCONE MUSICA */

/* CAIXA BOTÕES */
.caixa_botoes {
    margin: 0 2rem;
}

.botoes ul {
    padding: 40px 0;
}

.botoes li {
    display: inline;
    margin: 0 10px;
}

.botoes button {
    width: 100px;
    height: 100px;
    background: var(--gradiente);
}

.botoes button {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    color: var(--branco);
}

.botao:hover {
    border: solid 2px #635f5f;
}

.botao:active {
    background-color: #10094F;
    border: solid 1px #8900c9;
    color: #A80053;
    transform: scale(0.9);
}
/* CAIXA BOTÕES */

/* CAIXA CONTATO */
.caixa_contato {
    width: 600px;
    margin: 0 auto;
}

.caixa_contato ul {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.caixa_contato a {
    font-size: 30px;
    color: var(--azul_marinho);
}

.caixa_contato a:hover {
    color: #A80053;
}
/* CAIXA CONTATO */

/* COPYRIGHT */
.copyright {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cinza_claro);
    margin-bottom: 3rem;
    opacity: 0.4;
}
/* COPYRIGHT */